.nav {
    position: absolute;
    top: 3%;
    right: 5%;
}

li {
    display: inline;
    text-transform: uppercase;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.webpage {
    position: absolute;
    top: 10%;
    left: 5%;
}

body {
    background: linear-gradient(to left, green, white);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 4em;
    color: green;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

img {
    width: 400px;
    height: 250px;
    border-radius: 80px;
    padding: 20px;
}

.button {
    border: 1px solid;
    text-transform: uppercase;
    color:green;
}

.button:hover {
    color: white;
    background-color: purple;
}